# macOS
.AppleDB/
.AppleDesktop/
.AppleDouble
.CFUserTextEncoding
.DS_Store
.DocumentRevisions-V100
.Icon?
.LSOverride
.Spotlight-V100/
.TemporaryItems/
.Trashes/
.Trash/
.VolumeIcon.icns
.cache/
.chromium-browser-snapshots/
.com.apple.timemachine.donotpresent
.lesshst
.pcr-stats.json
.pdfbox.cache
.rest-client/
.ssh/
.viminfo
.zcompdump
.zprofile
.zsh_history
Applications/
Applications (Parallels)/
Developer/
Library/
Movies/
Parallels/
Public
Virtual Machines/
Virtual Machines.localized/

# macOS Patch
*.icloud

# Windows
$RECYCLE.BIN/
*Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.lnk
*.msi
*.msix
*.msp
*.stackdump

# Linux
.Trash-*/
.autocompletion/
.bash_history
.clang_complete
.directory
.fuse_hidden*
.local/
.nfs*
.ocompletion/
.pki/
.ssr
.themes/
.wine/
.zoom/

# Global
/Apps/
/Desktop/
/Documents/
/Downloads/
/Git/
/GitHub/
/Music/
/Pictures/
/Videos/
/iCloud Drive/
/autom4te.cache/
/lib/
/log/
.autom4te.cache/output.0
.autom4te.cache/requests
.autom4te.cache/traces.0
.vscode/extensions/
.zsh_sessions/