[user]
    name = kadir.sert
    email = kadir.sert@siemens.com
    signingkey = /Users/k/.ssh/id_ed25519

[core]
    editor = nano
    autocrlf = input

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --graph --decorate --all

[color]
    ui = auto

[push]
    default = simple

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff

[credential]
    helper = store

[gpg]
    format = ssh

[commit]
    gpgsign = true

[includeIf "gitdir:~/Users/k/Developer/xathena/"]
    path = ~/.gitconfig-gitlab

[includeIf "gitdir:~/Users/k/Developer/xathena/"]
    path = ~/.gitconfig-github