# Core settings
[core]
    editor = nano
    autocrlf = input

# User interface and interaction
[help]
    autocorrect = 1
[color]
    ui = auto
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --graph --decorate --all
    a = add
    s = status -suall
    c = commit
    sta = stash -u
    sa = stash apply
    pp = !git pull && git push

# Security and signing
[gpg]
    format = ssh
[commit]
    gpgsign = true

# Remote operations
[push]
    default = simple

# Diff and merge tools
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff

# Configuration includes
[include]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/Library/CloudStorage/OneDrive-SiemensAG/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/Developer/xathena/"]
    path = ~/.gitconfig-ro