# macOS
.AppleDouble
.AppleDB/
.AppleDesktop/
.CFUserTextEncoding
.DocumentRevisions-V100
.lesshst
.LSOverride
.Spotlight-V100/
.ssh/
.viminfo
.zprofile
.zsh_history
Applications/
Developer/
Library/
Movies/
Public
.TemporaryItems/
.Trashes/
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.DS_Store
.Icon?


# macOS Patch
*.icloud

# Windows
$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msix
*.msp
*.stackdump
*Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Linux
.Trash-*/
.autocompletion/
.bash_history
.clang_complete
.directory
.fuse_hidden*
.local/
.nfs*
.ocompletion/
.ssr
.pki/
.themes/
.wine/
.zoom/

# Global
/Apps/
/Desktop/
/Documents/
/Downloads/
/Git/
/GitHub/
/Music/
/Pictures/
/Videos/
/iCloud Drive/
/autom4te.cache/
/log/
.lib/
/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0

# Additional specific files or directories
/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0