/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0
#Global
.Apple*
.DS_Store
.clang_complete
.local.vimrc
.ycm_extra_conf.py*
Thumbs.db
.Xauthority
.Xclients
.xinitrc

# /
/Apps
/Desktop
/Documents
/Downloads
/Git/
/GitHub
/Music
/Pictures
/Videos
/iCloud Drive
/ro
/.cache
/.config/iridium/
/.gnpg/
/.icon
/.icons/
/.local
/.ssr
/.pki
/.themes
/.wine
/.zoom

/*_fifo
/*.exe
/*.exe.*
/*.ilk
/*.iobj
/*.ipdb
/*.log
/*.ncb
/*.opensdf
/*.opt
/*.pdb
/*.pid
/*.sdf
/*.stackdump
/*.suo
*.o
*.a
*.vcxproj.user

# /lib
/lib

# /log/
/log/*.log
/log/*.leaks

# dlls
/libmysql.dll
/pcre8.dll
/zlib.dll
